.vertical-timeline-element-date{
    text-align: left;
    color: black;
}
.experience-description{
    text-align: justify;
}
.header-primary{
    margin : 0px 0px 8px;
}
.header-secondary{
    margin : 0px 0px 20px;
}