@-webkit-keyframes progress-bar-stripes{
    from{background-position:40px 0}to{background-position:0 0}
}
@-o-keyframes progress-bar-stripes{
    from{background-position:40px 0}to{background-position:0 0}
}
@keyframes progress-bar-stripes{
    from{background-position:40px 0}to{background-position:0 0}
}

.skills-container{
    height: calc( 100% - 160px );
    text-align: center;
}
.skill-option-container{
    text-align: center;
}
.skill-option-text{
    margin-right: 30px;
}
.skill-chart-container{
    width: 80%;
    margin: auto;
    height: calc( 100% - 40px );
}
.skill-option-container{
    height: 30px;
}
.skill-chart{
    height: calc( 100% - 50px );
    width: 80%;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

@media only screen and (max-width:900px){
    .skills-container{
        grid-template-columns: 500px;
    }
    
}
@media only screen and (max-width:500px){
    .skills-container{
        grid-template-columns: 360px;
    }   
}