.projects-container{
    padding: 30px 0px;
    display: grid;
    grid-auto-rows: 400px;
    width: 100%;
    grid-gap: 50px;
    grid-template-columns: 400px 400px;
    justify-content: center;
    color: black;
}
.project-tile{
    background-color: #bc4749;
    color: white;
    position: relative;
    text-align: left;
    padding: 20px;
}
.project-tags{
    position: absolute;
    top: 100%;
    margin-top: -120px;
    height: 100px;
    width: calc( 100% - 40px );
}
@media only screen and (max-width:1300px){
    .projects-container{
        grid-template-columns: 400px;
    }
}
@media only screen and (max-width:450px){
    .projects-container{
        grid-template-columns: 380px;
    }
}